In [1]:
import numpy as np
import pandas as pd

# Pandas Utility Functions
Similarly to numpy, pandas also has a few utility functions and detect null values 
isnull and isna are same for pandas

In [ ]:
pd.isnull(np.nan)

In [ ]:
pd.isnull(None)

In [ ]:
pd.isna(np.na)

In [ ]:
pd.isna(None)

The opposite ones also exist:

In [ ]:
pd.notnull(None)

In [ ]:
pd.notnull(np.nan)

In [ ]:
pd.notnull(3)

These functions also work with Series and DataFrame's:

In [2]:
pd.isnull(pd.Series([1, np.nan, 7])) # Which Values in this Series are Null

0    False
1     True
2    False
dtype: bool

In [3]:
pd.notnull(pd.Series([1, np.nan, 7])) # Which Values in this Series are Not Null

0     True
1    False
2     True
dtype: bool

In [4]:
pd.isnull(pd.DataFrame({
    'Column A': [1, np.nan, 7],
    'Column B': [np.nan, 2, 3],
    'Column C': [np.nan, 2, np.nan]
}))

   Column A  Column B  Column C
0     False      True      True
1      True     False     False
2     False     False      True

# Pandas Operations with Missing Values
Pandas Manages missing values more gracefully than numpy. nan's will no longer behave as 'viruses', and operations will just ignore them completely.

In [6]:
s = pd.Series([1, 2, 3, 4, np.nan, np.nan, 4])

In [7]:
pd.notnull(s).sum()

5

In [ ]:
pd.notnull(s).count()

In [ ]:
s[pd.notnull(s)] # Giving all the Values that are not null

But both notnull and isnull are also methods of series and dataframes so we could use it that way

In [ ]:
s.isnull()

In [ ]:
s.notnull()

In [ ]:
s[s.notnull()] # selecting only values that are not null and returning index and count?

# Dropping Null Values
Boolean selection + nonull() seems a little bit verbose and repetitive. And as we said before: any repetitive
task will probably have a better, more DRY way. In this case, we can use the dropna method:

In [ ]:
s.dropna()

# Dropping null Values on DataFrames
DataFrames will not allow you to drop single values you can only drop entire columns or rows.