In [112]:
import pandas as pd

df = pd.read_csv('adult.data.csv')

# sets option to see all columns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 200)

def calculate_demographic_data(print_data=True):
    pass

In [113]:
df.drop_duplicates(keep='first')

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [114]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count = df['race'].value_counts()
race_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [115]:
# What is the average age of men? 39.4

aam = df.loc[(df['sex'] == 'Male')]
average_age_men = aam['age'].mean().round(1)
average_age_men

39.4

In [116]:
df['education'].value_counts()

education
HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: count, dtype: int64

In [118]:
# What is the percentage of people who have a Bachelor's degree?
total_education = df.shape
total_bachelors = df.loc[(df['education'] == 'Bachelors')].shape
percentage_bachelors = round((total_bachelors[0]/total_education[0])*100, 1)
percentage_bachelors

16.4

In [119]:
df['salary'].value_counts()

salary
<=50K    24720
>50K      7841
Name: count, dtype: int64

In [120]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
her = df.loc[((df['education'] == 'Bachelors') 
             & (df['salary'] == '>50K'))
            | ((df['education'] == 'Masters') 
             & (df['salary'] == '>50K'))
            | ((df['education'] == 'Doctorate') 
             & (df['salary'] == '>50K'))]
total_higher_ed = df.loc[(df['education'] == 'Bachelors')
            | (df['education'] == 'Masters') 
            | (df['education'] == 'Doctorate')]
higher_education_rich = round(((her.shape[0])/(total_higher_ed.shape[0]))*100, 1)
higher_education_rich

46.5

In [121]:
# What percentage of people without advanced education make more than 50K?
ler = df.loc[((df['education'] != 'Bachelors') 
            & (df['education'] != 'Masters') 
            & (df['education'] != 'Doctorate'))
             & (df['salary'] == '>50K')]
total_lower_ed = df.loc[((df['education'] != 'Bachelors') 
            & (df['education'] != 'Masters') 
            & (df['education'] != 'Doctorate'))]
lower_education_rich = round(((ler.shape[0]/total_lower_ed.shape[0]))*100, 1)
lower_education_rich

17.4

In [122]:
# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = None
lower_education = None

In [123]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

In [124]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
nmw = df.loc[(df['hours-per-week'] == 1)]
nmw_rich = df.loc[(df['hours-per-week'] == 1)
                 & (df['salary'] == '>50K')]
rich_percentage = round(((nmw_rich.shape[0])/(nmw.shape[0]))*100)
rich_percentage

10

In [ ]:
# What country has the highest percentage of people that earn >50K?

In [176]:
grouped = df.groupby(['native-country', 'salary'])['salary'].count()
# turning it into it's own df
grouped_df = grouped.reset_index(name='count') 
# adding in missing rows
grouped_df.loc[len(grouped_df)] = ['Holand-Netherlands', '>50K', 0]
grouped_df.loc[len(grouped_df)] = ['Outlying-US(Guam-USVI-etc)', '>50K', 0]
grouped_df = grouped_df.sort_values(['native-country', 'salary'])

In [184]:
# group by native-country and calculate the total count of people
total_count = df.groupby(['native-country'])['salary'].count()
# group by native-country and salary, and calculate the count of people earning >50K
high_earners = df[df['salary'] == '>50K'].groupby(['native-country'])['salary'].count()
# calculate the percentage of people earning >50K for each country
percentages = (high_earners / total_count) * 100
# get the country with the highest percentage of people earning >50K
highest_earning_country = percentages.idxmax()
highest_earning_country_percentage = round(percentages.loc['Iran'], 1)

In [194]:
india = df.loc[(df['native-country'] == 'India')]
india_jobs = india['occupation'].value_counts().idxmax()
india_jobs

'Prof-specialty'

In [ ]:
# Identify the most popular occupation for those who earn >50K in India.
    top_IN_occupation = None

In [ ]:
    # DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }