In [105]:
import pandas as pd
import numpy as np

In [106]:
df = pd.read_csv('adult.data.csv',
                 delimiter=',',
                )

#  How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

# Sort Race

In [107]:
df['race'].value_counts().sort_index()

Amer-Indian-Eskimo      311
Asian-Pac-Islander     1039
Black                  3124
Other                   271
White                 27816
Name: race, dtype: int64

# Sort Sexs

In [108]:
sorted_sexs = df['sex'].value_counts().sort_index() # sorts the sexs and counts them 
sorted_sexs

Female    10771
Male      21790
Name: sex, dtype: int64

# What is the average age of men?

In [109]:
round(df.groupby(['sex']).get_group('Male').mean()[0], 1)

C:\Users\Woodzi\AppData\Local\Temp\ipykernel_7448\716992192.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  round(df.groupby(['sex']).get_group('Male').mean()[0], 1)

39.4

# Number of People with Higher Ed and Make >50K

In [110]:
higher_ed_Over_50 = df.loc[((df['education'] == 'Bachelors') & (df['salary'] == '>50K')) | ((df['education'] == 'Masters') & (df['salary'] == '>50K')) | ((df['education'] == 'Doctorate') & (df['salary'] == '>50K'))]
len(higher_ed_Over_50)

3486

# What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [112]:
num_min_workers = df.loc[(df['hours-per-week'] < 40) & (df['salary'] == '>50K')]
num_min_workers = round(len(num_min_workers)/len(df)*100, 1)
num_min_workers
# .size() might be an issue, it counts NA/null values that could be throwing off my percentages

2.3

# What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [113]:
num_min_hours_over_50 = df.loc[(df['hours-per-week'] == 1) & (df['salary'] == '>50K')] 
len(num_min_hours_over_50)

2

In [114]:
# Percentage of rich among those who work fewest hours

In [115]:
sum_work_1hr = len(df.loc[(df['hours-per-week'] == 1)])
len_num_min_hours_over_50 = len(df.loc[(df['hours-per-week'] == 1) & (df['salary'] == '>50K')])
rich_percentage = round(len_num_min_hours_over_50/sum_work_1hr*100, 1)
rich_percentage

10.0

In [116]:
len_higher_ed_Over_50 = len(df.loc[((df['education'] == 'Bachelors') & (df['salary'] == '>50K')) | ((df['education'] == 'Masters') & (df['salary'] == '>50K')) | ((df['education'] == 'Doctorate') & (df['salary'] == '>50K'))])
len_higher_ed_Over_50

3486

In [117]:
len_all_over_50 = len(df.loc[(df['salary'] == '>50K')])
len_all_over_50

7841

# What country has the highest percentage of people that earn >50K?

In [120]:
df.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [ ]:
# How do I add all the countries?

In [196]:
# df.groupby(['sex']).get_group('Male').mean()
# df.groupby(['native-country', 'salary'], sort=True).sum()
df.groupby(['native-country', 'salary'])['salary'].count()

native-country  salary
?               <=50K      437
                >50K       146
Cambodia        <=50K       12
                >50K         7
Canada          <=50K       82
                          ...
United-States   >50K      7171
Vietnam         <=50K       62
                >50K         5
Yugoslavia      <=50K       10
                >50K         6
Name: salary, Length: 82, dtype: int64

In [ ]:
highest_earning_country = None
highest_earning_country_percentage = None

# Identify the most popular occupation for those who earn >50K in India.

In [ ]:
top_IN_occupation = None

# Setting the index to be education the salary

In [118]:
si = df.set_index(['education', 'salary'])

In [16]:
all_salary_over_50 = df.loc[lambda df: df['salary'] == '>50K']

In [17]:
all_salary_under_50 = df.loc[lambda df: df['salary'] == '<=50K']

# Counting number of times you have a Masters and make over >50K

In [18]:
masters_ed_over50 = df.loc[df['education'] ==  'Masters', ['salary']] == '>50k'
masters_ed_over50.salary.value_counts()

False    1723
Name: salary, dtype: int64

In [19]:
 df.loc[df['education'] ==  ('Masters'), ['salary']] == '>50k'

       salary
5       False
8       False
19      False
47      False
87      False
...       ...
32504   False
32513   False
32544   False
32553   False
32554   False

[1723 rows x 1 columns]

In [20]:
 df.loc[lambda df: df['education'] == 'Bachelors']

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32530,35,?,320084,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,55,United-States,>50K
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K

In [21]:
hours_per_week = df['hours-per-week']
hours_per_week.min()

1

In [22]:
 df.filter(like='India')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[32561 rows x 0 columns]