In [173]:
import pandas as pd
import numpy as np

In [174]:
df = pd.read_csv('adult.data.csv',
                 delimiter=',',
                )

In [175]:
race = df['race']
race_dict= {}
for item in race:
    if item in race_dict:
        race_dict[item] += 1
    else:
        race_dict[item] = 1
race_dict
race_series = pd.Series(race_dict)
race_count = race_series
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
dtype: int64

In [176]:
sorted_race = df['race'].value_counts(sort=True).sort_index()
sorted_race[-1]

27816

In [177]:
sorted_sexs = df['sex'].value_counts(sort=True).sort_index() # sorts the sexs and counts them 
sorted_sexs

Female    10771
Male      21790
Name: sex, dtype: int64

In [178]:
number_of_males = sorted_sexs[-1]  # gives me total number of males 
number_of_males

21790

In [179]:
sex_dict = {}
sex = df['sex']
age = df['age']
for k,v in zip(sex, age):
    if k in sex_dict:
        sex_dict[k] += v
    else:
        sex_dict[k] = v
sex_dict

{'Male': 859257, 'Female': 397000}

In [180]:
male_female_values = []
for v in sex_dict.values():
    male_female_values.append(v)
male_female_values
number_of_males

21790

In [181]:
average_age_men = male_female_values[0]/number_of_males
average_age_men

39.43354749885268

In [182]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [183]:
df[('capital-gain')].mean()

1077.6488437087312

In [184]:
si = df.set_index(['education', 'salary'])
si

                   age         workclass  fnlwgt  education-num  \
education  salary
Bachelors  <=50K    39         State-gov   77516             13
           <=50K    50  Self-emp-not-inc   83311             13
HS-grad    <=50K    38           Private  215646              9
11th       <=50K    53           Private  234721              7
Bachelors  <=50K    28           Private  338409             13
...                ...               ...     ...            ...
Assoc-acdm <=50K    27           Private  257302             12
HS-grad    >50K     40           Private  154374              9
           <=50K    58           Private  151910              9
           <=50K    22           Private  201490              9
           >50K     52      Self-emp-inc  287927              9

                       marital-status         occupation   relationship  \
education  salary
Bachelors  <=50K        Never-married       Adm-clerical  Not-in-family
           <=50K   Married-civ-spouse    Exec-managerial        Husband
HS-grad    <=50K             Divorced  Handlers-cleaners  Not-in-family
11th       <=50K   Married-civ-spouse  Handlers-cleaners        Husband
Bachelors  <=50K   Married-civ-spouse     Prof-specialty           Wife
...                               ...                ...            ...
Assoc-acdm <=50K   Married-civ-spouse       Tech-support           Wife
HS-grad    >50K    Married-civ-spouse  Machine-op-inspct        Husband
           <=50K              Widowed       Adm-clerical      Unmarried
           <=50K        Never-married       Adm-clerical      Own-child
           >50K    Married-civ-spouse    Exec-managerial           Wife

                    race     sex  capital-gain  capital-loss  hours-per-week  \
education  salary
Bachelors  <=50K   White    Male          2174             0              40
           <=50K   White    Male             0             0              13
HS-grad    <=50K   White    Male             0             0              40
11th       <=50K   Black    Male             0             0              40
Bachelors  <=50K   Black  Female             0             0              40
...                  ...     ...           ...           ...             ...
Assoc-acdm <=50K   White  Female             0             0              38
HS-grad    >50K    White    Male             0             0              40
           <=50K   White  Female             0             0              40
           <=50K   White    Male             0             0              20
           >50K    White  Female         15024             0              40

                  native-country
education  salary
Bachelors  <=50K   United-States
           <=50K   United-States
HS-grad    <=50K   United-States
11th       <=50K   United-States
Bachelors  <=50K            Cuba
...                          ...
Assoc-acdm <=50K   United-States
HS-grad    >50K    United-States
           <=50K   United-States
           <=50K   United-States
           >50K    United-States

[32561 rows x 13 columns]

In [216]:
higher_ed = si.loc[['Masters','Bachelors','Doctorate']]
higher_ed

                  age         workclass  fnlwgt  education-num  \
education salary
Masters   <=50K    37           Private  284582             14
          >50K     31           Private   45781             14
          >50K     43  Self-emp-not-inc  292175             14
          <=50K    44           Private  128354             14
          <=50K    33           Private  202051             14
...               ...               ...     ...            ...
Doctorate >50K     51         Local-gov  203334             16
          <=50K    58      Self-emp-inc  181974             16
          <=50K    50           Private  485710             16
          >50K     34           Private  204461             16
          >50K     71                 ?  287372             16

                      marital-status       occupation   relationship   race  \
education salary
Masters   <=50K   Married-civ-spouse  Exec-managerial           Wife  White
          >50K         Never-married   Prof-specialty  Not-in-family  White
          >50K              Divorced  Exec-managerial      Unmarried  White
          <=50K             Divorced  Exec-managerial      Unmarried  White
          <=50K   Married-civ-spouse   Prof-specialty        Husband  White
...                              ...              ...            ...    ...
Doctorate >50K              Divorced  Exec-managerial  Not-in-family  White
          <=50K        Never-married   Prof-specialty  Not-in-family  White
          <=50K             Divorced   Prof-specialty  Not-in-family  White
          >50K    Married-civ-spouse   Prof-specialty        Husband  White
          >50K    Married-civ-spouse                ?        Husband  White

                     sex  capital-gain  capital-loss  hours-per-week  \
education salary
Masters   <=50K   Female             0             0              40
          >50K    Female         14084             0              50
          >50K    Female             0             0              45
          <=50K   Female             0             0              40
          <=50K     Male             0             0              50
...                  ...           ...           ...             ...
Doctorate >50K    Female             0             0              45
          <=50K   Female             0             0              99
          <=50K   Female             0             0              50
          >50K      Male             0             0              60
          >50K      Male             0             0              10

                 native-country
education salary
Masters   <=50K   United-States
          >50K    United-States
          >50K    United-States
          <=50K   United-States
          <=50K   United-States
...                         ...
Doctorate >50K    United-States
          <=50K               ?
          <=50K   United-States
          >50K    United-States
          >50K    United-States

[7491 rows x 13 columns]

In [221]:

df.loc[lambda higher_ed: higher_ed['education'] == '>50K']

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\indexes\base.py", line 3803, in get_loc
    return self._engine.get_loc(casted_key)
  File "pandas\_libs\index.pyx", line 138, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\index.pyx", line 165, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\hashtable_class_helper.pxi", line 5745, in pandas._libs.hashtable.PyObjectHashTable.get_item
  File "pandas\_libs\hashtable_class_helper.pxi", line 5753, in pandas._libs.hashtable.PyObjectHashTable.get_item
KeyError: 'education'

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\interactiveshell.py", line 3433, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Woodzi\AppData\Local\Temp\ipykernel_11712\3579034961.py", line 1, in <module>
    higher_ed.loc[lambda higher_ed: higher_ed['education'] == '>50K']
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\indexing.py", line 1072, in __getitem__
    maybe_callable = com.apply_if_callable(key, self.obj)
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\common.py", line 364, in apply_if_callable
    return maybe_callable(obj, **kwargs)
  File "C:\Users\Woodzi\AppData\Local\Temp\ipykernel_11712\3579034961.py", line 1, in <lambda>
    higher_ed.loc[lambda higher_ed: higher_ed['education'] == '>50K']
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\frame.py", line 3805, in __getitem__
    indexer = self.columns.get_loc(key)
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\indexes\base.py", line 3805, in get_loc
    raise KeyError(key) from err
KeyError: 'education'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\interactiveshell.py", line 2052, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\ultratb.py", line 1118, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\ultratb.py", line 1012, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\ultratb.py", line 865, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\ultratb.py", line 818, in format_exception_as_a_whole
    frames.append(self.format_record(r))
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\ultratb.py", line 736, in format_record
    result += ''.join(_format_traceback_lines(frame_info.lines, Colors, self.has_colors, lvals))
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\executing\executing.py", line 428, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\asttokens\asttokens.py", line 307, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\asttokens\asttokens.py", line 44, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [190]:
df['education']

0         Bachelors
1         Bachelors
2           HS-grad
3              11th
4         Bachelors
            ...
32556    Assoc-acdm
32557       HS-grad
32558       HS-grad
32559       HS-grad
32560       HS-grad
Name: education, Length: 32561, dtype: object

In [114]:
df.loc[df['education'] == 'Bachelors', ['salary']]

      salary
0      <=50K
1      <=50K
4      <=50K
9       >50K
11      >50K
...      ...
32530   >50K
32531  <=50K
32533   >50K
32536   >50K
32538   >50K

[5355 rows x 1 columns]

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\interactiveshell.py", line 3433, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Woodzi\AppData\Local\Temp\ipykernel_11712\889724153.py", line 1, in <module>
    df.loc['education']
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\indexing.py", line 1073, in __getitem__
    return self._getitem_axis(maybe_callable, axis=axis)
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\indexing.py", line 1312, in _getitem_axis
    return self._get_label(key, axis=axis)
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\indexing.py", line 1260, in _get_label
    return self.obj.xs(label, axis=axis)
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\generic.py", line 4056, in xs
    loc = index.get_loc(key)
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\indexes\range.py", line 395, in get_loc
    raise KeyError(key)
KeyError: 'education'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\interactiveshell.py", line 2052, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\ultratb.py", line 1118, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\ultratb.py", line 1012, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\ultratb.py", line 865, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\ultratb.py", line 818, in format_exception_as_a_whole
    frames.append(self.format_record(r))
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\ultratb.py", line 736, in format_record
    result += ''.join(_format_traceback_lines(frame_info.lines, Colors, self.has_colors, lvals))
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\executing\executing.py", line 428, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\asttokens\asttokens.py", line 307, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\asttokens\asttokens.py", line 44, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [106]:
finding_everyone_make_greater_than_50 = df.loc[df['salary'] == '>50K', 'education'].value_counts(sort=True).sort_index()
finding_everyone_make_greater_than_50

10th              62
11th              60
12th              33
1st-4th            6
5th-6th           16
7th-8th           40
9th               27
Assoc-acdm       265
Assoc-voc        361
Bachelors       2221
Doctorate        306
HS-grad         1675
Masters          959
Prof-school      423
Some-college    1387
Name: education, dtype: int64

In [99]:
type(finding_everyone_make_greater_than_50)

pandas.core.series.Series

In [100]:
finding_everyone_make_greater_than_50.sum()

7841

In [29]:
total_over_50_advanced_ed = (finding_everyone_make_greater_than_50[9] 
                             + finding_everyone_make_greater_than_50[10] 
                             + finding_everyone_make_greater_than_50[12]
                            )
total_over_50_advanced_ed

3486

In [38]:
percent_people_advancedED_over_50 = round(total_over_50_advanced_ed/32561, 2) * 100
percent_people_advancedED_over_50

11.0

In [107]:
sorted_education = df['education'].value_counts(sort=True).sort_index()
sorted_education[9]

5355

In [108]:
percentage_bachelors = round((sorted_education[9])/df.shape[0], 2)
percentage_bachelors

0.16

In [109]:
sorted_salary = df['salary'].value_counts(sort=True).sort_index()
sorted_salary[-1]

7841