In [113]:
import pandas as pd
import numpy as np

In [114]:
df = pd.read_csv('adult.data.csv',
                 delimiter=',',
                )

#  How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

# Sort Race

In [115]:
df['race'].value_counts().sort_index()

Amer-Indian-Eskimo      311
Asian-Pac-Islander     1039
Black                  3124
Other                   271
White                 27816
Name: race, dtype: int64

# Sort Sexs

In [116]:
sorted_sexs = df['sex'].value_counts().sort_index() # sorts the sexs and counts them 
sorted_sexs

Female    10771
Male      21790
Name: sex, dtype: int64

# What is the average age of men?

In [118]:
round(df.groupby(['sex']).get_group('Male').mean()[0], 1)

C:\Users\Woodzi\AppData\Local\Temp\ipykernel_20056\716992192.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  round(df.groupby(['sex']).get_group('Male').mean()[0], 1)

39.4

# Number of People with Higher Ed and Make >50K

In [119]:
higher_ed_Over_50 = df.loc[((df['education'] == 'Bachelors') & (df['salary'] == '>50K')) | ((df['education'] == 'Masters') & (df['salary'] == '>50K')) | ((df['education'] == 'Doctorate') & (df['salary'] == '>50K'))]
higher_ed_Over_50

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

In [120]:
dir(df.groupby("education", sort=False)["salary"].apply(lambda ser: ser.str.contains(">50K").sum()))

['Bachelors',
 'Doctorate',
 'Masters',
 'Preschool',
 'T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_binop',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_convert',
 '_convert_dtypes',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_duplicated',
 '_find_valid_index',
 '_flags',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_index_resolvers',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_item_cache',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_update_cacher',
 '_memory_usage',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_name',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take',
 '_take_with_is_copy',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'iteritems',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [121]:
df.groupby("education", sort=False)["salary"].apply(lambda ser: ser.str.contains(">50K").sum()) # .values.sum()

education
Bachelors       2221
HS-grad         1675
11th              60
Masters          959
9th               27
Some-college    1387
Assoc-acdm       265
Assoc-voc        361
7th-8th           40
Doctorate        306
Prof-school      423
5th-6th           16
10th              62
1st-4th            6
Preschool          0
12th              33
Name: salary, dtype: int64

In [122]:
df.groupby("education", sort=False)["salary"].apply(lambda ser: ser.str.contains("<=50K").sum()) # .values.sum()

education
Bachelors       3134
HS-grad         8826
11th            1115
Masters          764
9th              487
Some-college    5904
Assoc-acdm       802
Assoc-voc       1021
7th-8th          606
Doctorate        107
Prof-school      153
5th-6th          317
10th             871
1st-4th          162
Preschool         51
12th             400
Name: salary, dtype: int64

In [123]:
df.groupby("education", sort=False)["salary"].apply(lambda ser: ser.str.contains("<=50K").sum()).values.sum()

24720

In [124]:
df_groupby = df.groupby('education')
df_column = df_groupby[['salary']]
df_column.tail()

      salary
31798  <=50K
32008  <=50K
32035  <=50K
32044  <=50K
32153  <=50K
...      ...
32556  <=50K
32557   >50K
32558  <=50K
32559  <=50K
32560   >50K

[80 rows x 1 columns]

# What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [125]:
num_min_workers = df.loc[(df['hours-per-week'] < 40) & (df['salary'] == '>50K')]
num_min_workers = round(len(num_min_workers)/len(df)*100, 1)
num_min_workers
# .size() might be an issue, it counts NA/null values that could be throwing off my percentages

2.3

# What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [126]:
num_min_hours_over_50 = df.loc[(df['hours-per-week'] == 1) & (df['salary'] == '>50K')] 
len(num_min_hours_over_50)

2

In [127]:
# Percentage of rich among those who work fewest hours

In [128]:
sum_work_1hr = len(df.loc[(df['hours-per-week'] == 1)])
len_num_min_hours_over_50 = len(df.loc[(df['hours-per-week'] == 1) & (df['salary'] == '>50K')])
rich_percentage = round(len_num_min_hours_over_50/sum_work_1hr*100, 1)
rich_percentage

10.0

In [129]:
len_higher_ed_Over_50 = len(df.loc[((df['education'] == 'Bachelors') & (df['salary'] == '>50K')) | ((df['education'] == 'Masters') & (df['salary'] == '>50K')) | ((df['education'] == 'Doctorate') & (df['salary'] == '>50K'))])
len_higher_ed_Over_50

3486

In [130]:
len_all_over_50 = len(df.loc[(df['salary'] == '>50K')])
len_all_over_50

7841

# What country has the highest percentage of people that earn >50K?

In [131]:
df.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [132]:
# How do I add all the countries?

In [133]:
over_50_con = df.groupby("native-country", sort=False)["salary"].apply(lambda ser: ser.str.contains(">50K").sort_index().sum()).nlargest()
# returns country with highest number of rich
over_50_con.head(10)

native-country
United-States    7171
?                 146
Philippines        61
Germany            44
India              40
Name: salary, dtype: int64

In [134]:
over_50_con.values

array([7171,  146,   61,   44,   40], dtype=int64)

In [135]:
# df.groupby(['sex']).get_group('Male').mean()
# df.groupby(['native-country', 'salary'], sort=True).sum()
under_50_con = df.groupby("native-country", sort=False)["salary"].apply(lambda ser: ser.str.contains("<=50K").sort_index().sum()).nlargest()
# ************************************************************************************************

In [136]:
  len_higher_ed_Over_50 = len(df.loc[((df['education'] == 'Bachelors') & (df['salary'] == '>50K')) | ((df['education'] == 'Masters') & (df['salary'] == '>50K')) | ((df['education'] == 'Doctorate') & (df['salary'] == '>50K'))])
  len_higher_ed_un50 = len(df.loc[((df['education'] == 'Bachelors') & (df['salary'] == '<=50K')) | ((df['education'] == 'Masters') & (df['salary'] == '<=50K')) | ((df['education'] == 'Doctorate') & (df['salary'] == '<=50K'))])
  len_all_higher_ed = len_higher_ed_un50 + len_higher_ed_Over_50
  higher_education_rich = round(len_higher_ed_Over_50/len_all_higher_ed*100, 1)

In [137]:
len_higher_ed_Over_50

3486

In [138]:
  # What percentage of people without advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
  # **************************************************************************************************

In [168]:
all_ed_over_50 = df.groupby('education')['salary'].apply(lambda x: x.str.contains('>50K').sort_index().sum())
all_ed_over_50

education
10th              62
11th              60
12th              33
1st-4th            6
5th-6th           16
7th-8th           40
9th               27
Assoc-acdm       265
Assoc-voc        361
Bachelors       2221
Doctorate        306
HS-grad         1675
Masters          959
Preschool          0
Prof-school      423
Some-college    1387
Name: salary, dtype: int64

In [218]:
mask_miss   = ~df.loc[:, 'education'].str.contains('Bachelors')
mask_mrs    = ~df.loc[:, 'education'].str.contains('Doctorate')
mask_master = ~df.loc[:, 'education'].str.contains('Masters')
fifty_K = ~df.loc[:, 'salary'].str.contains('<=50K')
len_df = len(df)
total_o_50_bad_ed = len(df.loc[mask_miss & mask_mrs & mask_master & fifty_K, ('education', 'salary')])
lower_education_rich = round(total_o_50_bad_ed/len_df*100, 1)
df.loc[mask_miss & mask_mrs & mask_master & fifty_K, ('education', 'salary')]

          education salary
7           HS-grad   >50K
10     Some-college   >50K
14        Assoc-voc   >50K
27     Some-college   >50K
38     Some-college   >50K
...             ...    ...
32518       HS-grad   >50K
32519  Some-college   >50K
32545    Assoc-acdm   >50K
32557       HS-grad   >50K
32560       HS-grad   >50K

[4355 rows x 2 columns]

In [209]:
education = df.loc[:, 'education']
salary = df.loc[:, 'salary'].str.contains('>50K')
both = df.loc[salary, ('education', 'salary')]
both

          education salary
7           HS-grad   >50K
8           Masters   >50K
9         Bachelors   >50K
10     Some-college   >50K
11        Bachelors   >50K
...             ...    ...
32539     Doctorate   >50K
32545    Assoc-acdm   >50K
32554       Masters   >50K
32557       HS-grad   >50K
32560       HS-grad   >50K

[7841 rows x 2 columns]

total_o_50_bad_ed

In [195]:
len_df

32561

In [49]:
over_50_total = df.groupby("education", sort=False)["salary"].apply(lambda ser: ser.str.contains(">50K").sort_index().sum()).nlargest()
over_50_total.head(20)

education
Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Name: salary, dtype: int64

In [24]:
counntry_groups_salary.aggregate([min,max, sum, 'mean'])

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\interactiveshell.py", line 3433, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Woodzi\AppData\Local\Temp\ipykernel_20056\3850299618.py", line 1, in <module>
    counntry_groups_salary.aggregate([min,max, sum, 'mean'])
NameError: name 'counntry_groups_salary' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\interactiveshell.py", line 2052, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\ultratb.py", line 1118, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\ultratb.py", line 1012, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\ultratb.py", line 865, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\ultratb.py", line 818, in format_exception_as_a_whole
    frames.append(self.format_record(r))
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\ultratb.py", line 736, in format_record
    result += ''.join(_format_traceback_lines(frame_info.lines, Colors, self.has_colors, lvals))
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\executing\executing.py", line 428, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\asttokens\asttokens.py", line 307, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Woodzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\asttokens\asttokens.py", line 44, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [ ]:
counntry_groups_salary.describe()

In [25]:
highest_earning_country = None
highest_earning_country_percentage = None

# Identify the most popular occupation for those who earn >50K in India.

In [277]:
India = df.loc[:, 'native-country'].str.startswith('India')
I_o_50 = ~df.loc[:, 'salary'].str.contains('<=50K') 
occupation = df.loc[I_o_50 & India, ('native-country', 'occupation')].value_counts(sort=False).sort_index(ascending=False)
occupation

native-country  occupation
India           Transport-moving     1
                Tech-support         2
                Sales                1
                Prof-specialty      25
                Other-service        2
                Exec-managerial      8
                Adm-clerical         1
dtype: int64

# Setting the index to be education the salary

In [27]:
si = df.set_index(['education', 'salary'])

# What country has the highest percentage of people that earn >50K?

In [28]:
all_salary_over_50 = df.loc[lambda df: df['salary'] == '>50K']

In [331]:
sal_un_50 = ~df.loc[:, 'salary'].str.contains('<=50K') 
salun50countries = df.loc[sal_un_50, ('native-country')].value_counts(sort=False).sort_index(ascending=False)
sal_o_50 = ~df.loc[:, 'salary'].str.contains('>50K') 
salo50countries = df.loc[sal_o_50, ('native-country')].value_counts(sort=False).sort_index(ascending=False)
salo50countries.keys()

Index(['Yugoslavia', 'Vietnam', 'United-States', 'Trinadad&Tobago', 'Thailand',
       'Taiwan', 'South', 'Scotland', 'Puerto-Rico', 'Portugal', 'Poland',
       'Philippines', 'Peru', 'Outlying-US(Guam-USVI-etc)', 'Nicaragua',
       'Mexico', 'Laos', 'Japan', 'Jamaica', 'Italy', 'Ireland', 'Iran',
       'India', 'Hungary', 'Hong', 'Honduras', 'Holand-Netherlands', 'Haiti',
       'Guatemala', 'Greece', 'Germany', 'France', 'England', 'El-Salvador',
       'Ecuador', 'Dominican-Republic', 'Cuba', 'Columbia', 'China', 'Canada',
       'Cambodia', '?'],
      dtype='object')

In [325]:
avg_list = []
for a, b in zip(salun50countries, salo50countries):
    avg = (b/(a+b))
    avg_list.append(avg)

[0.625,
 0.9253731343283582,
 0.7541652382584847,
 0.8947368421052632,
 0.8333333333333334,
 0.6078431372549019,
 0.8,
 0.75,
 0.8947368421052632,
 0.8918918918918919,
 0.8,
 0.6919191919191919,
 0.9354838709677419,
 0.875,
 0.49230769230769234,
 0.9967320261437909,
 0.4,
 0.7916666666666666,
 0.7395833333333334,
 0.9056603773584906,
 0.5135135135135135,
 0.38461538461538464,
 0.9523809523809523,
 0.625,
 0.9333333333333333,
 0.75,
 0.25,
 0.8333333333333334,
 0.580952380952381,
 0.6363636363636364,
 0.7560975609756098,
 0.6538461538461539,
 0.9375,
 0.9797979797979798,
 0.4897959183673469,
 0.9714285714285714,
 0.7777777777777778,
 0.59375,
 0.8870967741935484,
 0.35964912280701755]

# Counting number of times you have a Masters and make over >50K

In [340]:
countries = []
for c in salun50countries.keys():
    countries.append(c)
country_avg_dict = {}
for x, y in zip(countries, avg_list):
    country_avg_dict[x] = [float(y)]
print(country_avg_dict)

{'Yugoslavia': [0.625], 'Vietnam': [0.9253731343283582], 'United-States': [0.7541652382584847], 'Trinadad&Tobago': [0.8947368421052632], 'Thailand': [0.8333333333333334], 'Taiwan': [0.6078431372549019], 'South': [0.8], 'Scotland': [0.75], 'Puerto-Rico': [0.8947368421052632], 'Portugal': [0.8918918918918919], 'Poland': [0.8], 'Philippines': [0.6919191919191919], 'Peru': [0.9354838709677419], 'Nicaragua': [0.875], 'Mexico': [0.49230769230769234], 'Laos': [0.9967320261437909], 'Japan': [0.4], 'Jamaica': [0.7916666666666666], 'Italy': [0.7395833333333334], 'Ireland': [0.9056603773584906], 'Iran': [0.5135135135135135], 'India': [0.38461538461538464], 'Hungary': [0.9523809523809523], 'Hong': [0.625], 'Honduras': [0.9333333333333333], 'Haiti': [0.75], 'Guatemala': [0.25], 'Greece': [0.8333333333333334], 'Germany': [0.580952380952381], 'France': [0.6363636363636364], 'England': [0.7560975609756098], 'El-Salvador': [0.6538461538461539], 'Ecuador': [0.9375], 'Dominican-Republic': [0.9797979797979798], 'Cuba': [0.4897959183673469], 'Columbia': [0.9714285714285714], 'China': [0.7777777777777778], 'Canada': [0.59375], 'Cambodia': [0.8870967741935484], '?': [0.35964912280701755]}

In [30]:
masters_ed_over50 = df.loc[df['education'] ==  'Masters', ['salary']] == '>50k'
masters_ed_over50.salary.value_counts()

False    1723
Name: salary, dtype: int64

In [31]:
 df.loc[df['education'] ==  ('Masters'), ['salary']] == '>50k'

       salary
5       False
8       False
19      False
47      False
87      False
...       ...
32504   False
32513   False
32544   False
32553   False
32554   False

[1723 rows x 1 columns]

In [32]:
 df.loc[lambda df: df['education'] == 'Bachelors']

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32530,35,?,320084,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,55,United-States,>50K
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K

In [33]:
hours_per_week = df['hours-per-week']
hours_per_week.min()

1

In [34]:
 df.filter(like='India')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[32561 rows x 0 columns]