In [29]:
import pandas as pd
import numpy as np

In [30]:
df = pd.read_csv('adult.data.csv',
                 delimiter=',',
                )

In [53]:
race = df['race']
race_dict= {}
for item in race:
    if item in race_dict:
        race_dict[item] += 1
    else:
        race_dict[item] = 1
race_dict
race_series = pd.Series(race_dict)
race_count = race_series
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
dtype: int64

In [55]:
sorted_race = df['race'].value_counts(sort=True).sort_index()
sorted_race[-1]

27816

In [42]:
sorted_sexs = df['sex'].value_counts(sort=True).sort_index() # sorts the sexs and counts them 
sorted_sexs

Female    10771
Male      21790
Name: sex, dtype: int64

In [38]:
number_of_males = sorted_sexs[-1]  # gives me total number of males 
number_of_males

21790

In [8]:
sex_dict = {}
sex = df['sex']
age = df['age']
for k,v in zip(sex, age):
    if k in sex_dict:
        sex_dict[k] += v
    else:
        sex_dict[k] = v
sex_dict

{'Male': 859257, 'Female': 397000}

In [9]:
male_female_values = []
for v in sex_dict.values():
    male_female_values.append(v)
male_female_values
number_of_males

21790

In [10]:
average_age_men = male_female_values[0]/number_of_males
average_age_men

39.43354749885268

In [14]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [16]:
education = df['education']

In [46]:
sorted_education = df['education'].value_counts(sort=True).sort_index()
sorted_education[9]

10th              933
11th             1175
12th              433
1st-4th           168
5th-6th           333
7th-8th           646
9th               514
Assoc-acdm       1067
Assoc-voc        1382
Bachelors        5355
Doctorate         413
HS-grad         10501
Masters          1723
Preschool          51
Prof-school       576
Some-college     7291
Name: education, dtype: int64

In [50]:
percentage_bachelors = round((sorted_education[9])/df.shape[0], 2)
percentage_bachelors

0.16

In [58]:
sorted_salary = df['salary'].value_counts(sort=True).sort_index()
sorted_salary[-1]

7841

In [95]:
education_salary_filter = df.filter(items =  ['education', 'salary']).value_counts(sort=True).sort_index()
education_salary_filter.loc[:,['Bachelors','Masters','Doctorate']]

C:\Users\Woodzi\AppData\Local\Temp\ipykernel_22520\672148344.py:2: FutureWarning: The behavior of indexing on a MultiIndex with a nested sequence of labels is deprecated and will change in a future version. `series.loc[label, sequence]` will raise if any members of 'sequence' or not present in the index's second level. To retain the old behavior, use `series.index.isin(sequence, level=1)`
  education_salary_filter.loc[:,['Bachelors','Masters','Doctorate']]

Series([], dtype: int64)

In [106]:
#pd.pivot_table(df, 'Bachelors','Masters','Doctorate', values=None, rownames=None, colnames=None, aggfunc=None, margins=False, margins_name='All', dropna=True, normalize=False)