In [1]:
import numpy as np
import pandas as pd

In [2]:
certificates_earned = pd.DataFrame({
    'Certificates': [8, 2, 5, 6],
    'Time (in months)': [16, 5, 9, 12]
})
names = ['Tom', 'Kris', 'Ahmad', 'Beau']

In [4]:
certificates_earned.index = names

In [5]:
certificates_earned

       Certificates  Time (in months)
Tom               8                16
Kris              2                 5
Ahmad             5                 9
Beau              6                12

In [11]:
longest_streak = pd.Series([13, 11, 9, 7], index=names)

In [12]:
certificates_earned['Longest streak'] = longest_streak

In [13]:
certificates_earned

       Certificates  Time (in months)  Longest streak
Tom               8                16              13
Kris              2                 5              11
Ahmad             5                 9               9
Beau              6                12               7

In [22]:
certificates_earned['Certificates Per Month'] = round(
    certificates_earned['Certificates']/
    certificates_earned['Time (in months)'], 2  # adds in the proper decimal point
)

In [23]:
certificates_earned

       Certificates  Time (in months)  Longest streak  Certificates Per Month
Tom               8                16              13                    0.50
Kris              2                 5              11                    0.40
Ahmad             5                 9               9                    0.56
Beau              6                12               7                    0.50