In [13]:

import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv('adult.data.csv',
                 delimiter=',',
                )

In [57]:
race = df['race']
race_dict= {}
for item in race:
    if item in race_dict:
        race_dict[item] += 1
    else:
        race_dict[item] = 1
race_dict
race_series = pd.Series(race_dict)
race_count = race_series
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
dtype: int64

In [35]:
male = df["sex"] == "Male" # gives me a bool

0         True
1         True
2         True
3         True
4        False
         ...
32556    False
32557     True
32558    False
32559     True
32560    False
Name: sex, Length: 32561, dtype: bool

In [36]:
df["sex"].str.find("Male")

0        0
1        0
2        0
3        0
4       -1
        ..
32556   -1
32557    0
32558   -1
32559    0
32560   -1
Name: sex, Length: 32561, dtype: int64

In [110]:
sorted_sexs = df['sex'].value_counts(sort=True).sort_index() # sorts the sexs and counts them 
sorted_sexs

Female    10771
Male      21790
Name: sex, dtype: int64

In [111]:
number_of_males = sorted_sexs[-1]  # gives me total number of males 
number_of_males

21790

In [112]:
sex_dict = {}
sex = df['sex']
age = df['age']
for k,v in zip(sex, age):
    if k in sex_dict:
        sex_dict[k] += v
    else:
        sex_dict[k] = v
sex_dict

{'Male': 859257, 'Female': 397000}

In [115]:
male_female_values = []
for v in sex_dict.values():
    male_female_values.append(v)
male_female_values
number_of_males

21790

In [116]:
average_age_men = male_female_values[0]/number_of_males
average_age_men

39.43354749885268