<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets  
2.  Load the three datasets into three tables in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork22-2022-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork22-2022-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork22-2022-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork22-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork22-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days. 

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork22-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):

- <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv" target="_blank">Chicago Census Data</a>

- <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv" target="_blank">Chicago Public Schools</a>

- <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv" target="_blank">Chicago Crime Data</a>

**NOTE**: For the learners who are encountering issues with loading from .csv in DB2 on Firefox, you can download the .txt files and load the data with those:

- <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.txt" target="_blank">Chicago Census Data</a>
    
- <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.txt" target="_blank">Chicago Public Schools</a>
  
- <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.txt" target="_blank">Chicago Crime Data</a>

**NOTE:** Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in Week 3 Lab 3, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR. 

Therefore, **it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II**. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next". 

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/LoadingData.png">

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the first dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new tables as follows:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

The following required modules are pre-installed in the Skills Network Labs environment. However if you run this notebook commands in a different Jupyter environment (e.g. Watson Studio or Ananconda) you may need to install these libraries by removing the `#` sign before `!pip` in the code cell below.

In [1]:
# These libraries are pre-installed in SN Labs. If running in another environment please uncomment lines below to install them:
!pip install --force-reinstall ibm_db==3.1.0 ibm_db_sa==0.3.3
# Ensure we don't load_ext with sqlalchemy>=1.4 (incompadible)
!pip uninstall sqlalchemy==1.4 -y && pip install sqlalchemy==1.3.24
!pip install ipython-sql

Collecting ibm_db==3.1.0
  Using cached ibm_db-3.1.0-py3-none-any.whl
Collecting ibm_db_sa==0.3.3
  Using cached ibm_db_sa-0.3.3.tar.gz (24 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting sqlalchemy>=0.7.3
  Using cached SQLAlchemy-2.0.4-cp39-cp39-win_amd64.whl (2.0 MB)
Collecting typing-extensions>=4.2.0
  Using cached typing_extensions-4.5.0-py3-none-any.whl (27 kB)
Collecting greenlet!=0.4.17
  Using cached greenlet-2.0.2-cp39-cp39-win_amd64.whl (192 kB)
Installing collected packages: ibm_db, typing-extensions, greenlet, sqlalchemy, ibm_db_sa

ERROR: Could not install packages due to an OSError: [Errno 2] No such file or directory: 'C:\\Users\\Woodzi\\AppData\\Local\\Packages\\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\\LocalCache\\local-packages\\Python39\\site-packages\\Program Files\\WindowsApps\\PythonSoftwareFoundation.Python.3.9_3.9.3568.0_x64__qbz5n2kfra8p0\\Lib\\site-packages\\config.py.sample'
HINT: This error might have occurred since this system does not have Windows Long Path support enabled. You can find information on how to enable this at https://pip.pypa.io/warnings/enable-long-paths


[notice] A new release of pip is available: 23.0 -> 23.0.1
[notice] To update, run: C:\Users\Woodzi\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Found existing installation: SQLAlchemy 2.0.4
Uninstalling SQLAlchemy-2.0.4:
  Successfully uninstalled SQLAlchemy-2.0.4
Collecting sqlalchemy==1.3.24
  Using cached SQLAlchemy-1.3.24-cp39-cp39-win_amd64.whl (1.2 MB)
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.3.24

[notice] A new release of pip is available: 23.0 -> 23.0.1
[notice] To update, run: C:\Users\Woodzi\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Requirement already satisfied: ipython-sql in c:\users\woodzi\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (0.4.1)
Requirement already satisfied: ipython>=1.0 in c:\users\woodzi\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython-sql) (8.7.0)
Requirement already satisfied: six in c:\users\woodzi\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython-sql) (1.10.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\woodzi\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\woodzi\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython-sql) (1.3.24)
Requirement already satisfied: prettytable<1 in c:\users\woodzi\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlparse in c:\users\woodzi\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: backcall in c:\users\woodzi\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\woodzi\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: pygments>=2.4.0 in c:\users\woodzi\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython>=1.0->ipython-sql) (2.13.0)
Requirement already satisfied: decorator in c:\users\woodzi\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: colorama in c:\users\woodzi\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: matplotlib-inline in c:\users\woodzi\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.11 in c:\users\woodzi\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython>=1.0->ipython-sql) (3.0.33)
Requirement already satisfied: traitlets>=5 in c:\users\woodzi\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython>=1.0->ipython-sql) (5.6.0)
Requirement already satisfied: jedi>=0.16 in c:\users\woodzi\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython>=1.0->ipython-sql) (0.18.2)
Requirement already satisfied: stack-data in c:\users\woodzi\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython>=1.0->ipython-sql) (0.6.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\woodzi\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\woodzi\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from prompt-toolkit<3.1.0,>=3.0.11->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: pure-eval in c:\users\woodzi\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\woodzi\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.2.0)
Requirement already satisfied: executing>=1.2.0 in c:\users\woodzi\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from stack-data->ipython>=1.0->ipython-sql) (1.2.0)

[notice] A new release of pip is available: 23.0 -> 23.0.1
[notice] To update, run: C:\Users\Woodzi\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
%load_ext sql

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance in first lab in Week 3. From your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/details.png">

In [5]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL
# Enter the connection string for your Db2 on Cloud database instance below
# %sql ibm_db_sa://
%sql postgresql://mbv39664:s59y4dMt0VIGJJwz@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud/bludb

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
No module named 'psycopg2'
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [6]:
import pandas as pd
import numpy as np

CENSUS_DATA = pd.read_csv('ChicagoCensusData.csv',
                 delimiter=',',
                )
CHICAGO_CRIME_DATA = pd.read_csv('ChicagoCrimeData.csv', # CASE_NUMBER IS UNIQUE
                 delimiter=',',
                )
CHICAGO_PUBLIC_SCHOOLS = pd.read_csv('ChicagoPublicSchools.csv',
                 delimiter=',',
                )

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [7]:
# select COUNT(CASE_NUMBER) from CHICAGO_CRIME_DATA;
CHICAGO_CRIME_DATA['CASE_NUMBER'].count()

533

### Problem 2

##### List community areas with per capita income less than 11000.

In [8]:
#%sql select COMMUNITY_AREA_NAME, PER_CAPITA_INCOME
#FROM CENSUS_DATA
#WHERE PER_CAPITA_INCOME<11000;
CD = CENSUS_DATA[['COMMUNITY_AREA_NAME', 'PER_CAPITA_INCOME']]
CD.groupby('COMMUNITY_AREA_NAME', sort=False)['PER_CAPITA_INCOME'].sum().sort_values().head(4)

COMMUNITY_AREA_NAME
Riverdale              8201
South Lawndale        10402
Fuller Park           10432
West Garfield Park    10934
Name: PER_CAPITA_INCOME, dtype: int64

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [13]:
# SELECT DESCRIPTION, case_number FROM CHICAGO_CRIME_DATA
#	WHERE DESCRIPTION LIKE '%MINOR%';

# SELL/GIVE/DEL LIQUOR TO MINOR
# ILLEGAL CONSUMPTION BY MINOR
sub = 'MINOR'
start = 0
CHICAGO_CRIME_DATA[CHICAGO_CRIME_DATA['DESCRIPTION'].str.contains('MINOR')]

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,DISTRICT,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,LATITUDE,LONGITUDE,LOCATION
514,3987219,HL266884,2005-03-31,024XX N CLARK ST,2210,LIQUOR LAW VIOLATION,SELL/GIVE/DEL LIQUOR TO MINOR,CONVENIENCE STORE,True,False,...,19,43.0,7.0,22,1172680.0,1916483.0,2005,41.926269,-87.640899,"(41.926268719, -87.640899336)"
515,3266814,HK238408,2004-03-13,093XX S STONY ISLAND AVE,2230,LIQUOR LAW VIOLATION,ILLEGAL CONSUMPTION BY MINOR,ALLEY,True,False,...,4,8.0,48.0,22,1188539.0,1843379.0,2004,41.725301,-87.584966,"(41.72530099, -87.584965887)"

In [10]:
CHICAGO_CRIME_DATA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 533 entries, 0 to 532
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     533 non-null    int64
 1   CASE_NUMBER            533 non-null    object
 2   DATE                   533 non-null    object
 3   BLOCK                  533 non-null    object
 4   IUCR                   533 non-null    object
 5   PRIMARY_TYPE           533 non-null    object
 6   DESCRIPTION            533 non-null    object
 7   LOCATION_DESCRIPTION   533 non-null    object
 8   ARREST                 533 non-null    bool
 9   DOMESTIC               533 non-null    bool
 10  BEAT                   533 non-null    int64
 11  DISTRICT               533 non-null    int64
 12  WARD                   490 non-null    float64
 13  COMMUNITY_AREA_NUMBER  490 non-null    float64
 14  FBICODE                533 non-null    object
 15  X_COORDINATE           529 non-null    float64
 16  Y_COORDINATE           529 non-null    float64
 17  YEAR                   533 non-null    int64
 18  LATITUDE               529 non-null    float64
 19  LONGITUDE              529 non-null    float64
 20  LOCATION               529 non-null    object
dtypes: bool(2), float64(6), int64(4), object(9)
memory usage: 80.3+ KB

### Problem 4

##### List all kidnapping crimes involving a child?

In [14]:
# select DESCRIPTION from CHICAGO_CRIME_DATA
#	where DESCRIPTION like '%CHILD%'; 
    
# AGG SEX ASSLT OF CHILD FAM MR
# SEX ASSLT OF CHILD BY FAM MBR
# CHILD ABDUCTION/STRANGER
CHICAGO_CRIME_DATA[CHICAGO_CRIME_DATA['DESCRIPTION'].str.contains('CHILD')]

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,DISTRICT,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,LATITUDE,LONGITUDE,LOCATION
500,5766654,HN567387,2007-09-02,026XX W BELMONT AVE,1754,OFFENSE INVOLVING CHILDREN,AGG SEX ASSLT OF CHILD FAM MBR,CHURCH/SYNAGOGUE/PLACE OF WORSHIP,False,False,...,14,1.0,21.0,2,1158166.0,1921161.0,2007,41.939415,-87.694103,"(41.939414712, -87.694103222)"
501,6986273,HR391350,2009-06-23,015XX S KOLIN AVE,1753,OFFENSE INVOLVING CHILDREN,SEX ASSLT OF CHILD BY FAM MBR,APARTMENT,False,True,...,10,24.0,29.0,2,1147638.0,1892092.0,2009,41.859855,-87.733544,"(41.859855212, -87.733543816)"
520,5276766,HN144152,2007-01-26,050XX W VAN BUREN ST,1792,KIDNAPPING,CHILD ABDUCTION/STRANGER,STREET,False,False,...,15,29.0,25.0,20,1143050.0,1897546.0,2007,41.874908,-87.750249,"(41.874908413, -87.750249307)"

### Problem 5

##### What kinds of crimes were recorded at schools?

In [15]:
# SELECT DISTINCT(DESCRIPTION), LOCATION_description
#	FROM CHICAGO_CRIME_DATA  
#	WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%';
CHICAGO_CRIME_DATA[CHICAGO_CRIME_DATA['LOCATION_DESCRIPTION'].str.contains('SCHOOL')]

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,DISTRICT,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,LATITUDE,LONGITUDE,LOCATION
118,4006321,HL353697,2005-05-04,077XX S BURNHAM AVE,460,BATTERY,SIMPLE,"SCHOOL, PUBLIC, GROUNDS",False,False,...,4,7.0,43.0,08B,1196066.0,1854156.0,2005,41.754691,-87.557039,"(41.754691074, -87.557038686)"
121,4430638,HL725506,2005-11-09,048XX N FRANCISCO AVE,484,BATTERY,PRO EMP HANDS NO/MIN INJURY,"SCHOOL, PUBLIC, BUILDING",True,False,...,20,40.0,4.0,08B,1156348.0,1932071.0,2005,41.969389,-87.700489,"(41.96938944, -87.700488807)"
141,6644618,HP716225,2008-12-04,030XX S DR MARTIN LUTHER KING JR DR,460,BATTERY,SIMPLE,"SCHOOL, PUBLIC, BUILDING",False,False,...,1,2.0,35.0,08B,1179306.0,1885032.0,2008,41.839816,-87.617516,"(41.839816207, -87.617516172)"
166,2341955,HH639427,2002-09-10,005XX N WALLER AVE,460,BATTERY,SIMPLE,"SCHOOL, PUBLIC, BUILDING",False,False,...,15,29.0,25.0,08B,1138238.0,1903181.0,2002,41.890460,-87.767781,"(41.890459933, -87.767780886)"
183,11110571,JA460432,2017-10-05,076XX S HOMAN AVE,460,BATTERY,SIMPLE,"SCHOOL, PUBLIC, GROUNDS",False,False,...,8,18.0,70.0,08B,1155024.0,1853614.0,2017,41.754122,-87.707460,"(41.754121535, -87.707460248)"
220,7399281,HS200939,2010-03-10,053XX W CONGRESS PKWY,1320,CRIMINAL DAMAGE,TO VEHICLE,"SCHOOL, PUBLIC, GROUNDS",False,False,...,15,29.0,25.0,14,1140822.0,1897164.0,2010,41.873901,-87.758439,"(41.873901397, -87.758439102)"
263,3530721,HK577020,2004-08-23,016XX W JONQUIL TER,2024,NARCOTICS,POSS: HEROIN(WHITE),"SCHOOL, PUBLIC, GROUNDS",True,False,...,24,49.0,1.0,18,1163893.0,1951001.0,2004,42.021178,-87.672208,"(42.021177601, -87.67220843)"
265,7502426,HS305355,2010-05-13,035XX S WASHTENAW AVE,1821,NARCOTICS,MANU/DEL:CANNABIS 10GM OR LESS,"SCHOOL, PUBLIC, BUILDING",True,False,...,9,12.0,58.0,18,1158944.0,1880896.0,2010,41.828908,-87.692349,"(41.828907913, -87.692349187)"
364,8082600,HT315369,2011-05-26,032XX W ADAMS ST,545,ASSAULT,PRO EMP HANDS NO/MIN INJURY,"SCHOOL, PUBLIC, GROUNDS",False,False,...,11,28.0,27.0,08A,1154752.0,1898890.0,2011,41.878370,-87.707248,"(41.878370307, -87.707248137)"
471,7174283,HR585012,2009-10-13,043XX W 79TH ST,1330,CRIMINAL TRESPASS,TO LAND,"SCHOOL, PUBLIC, GROUNDS",True,False,...,8,13.0,70.0,26,1148764.0,1851854.0,2009,41.749414,-87.730447,"(41.749414464, -87.730446597)"
498,2075734,HH292682,2002-04-05,016XX W BRYN MAWR AV,2850,PUBLIC PEACE VIOLATION,BOMB THREAT,"SCHOOL, PRIVATE, BUILDING",False,False,...,20,NaN,NaN,26,NaN,NaN,2002,NaN,NaN,NaN
499,1806896,G635735,2001-10-22,0000X N HERMITAGE AV,2850,PUBLIC PEACE VIOLATION,BOMB THREAT,"SCHOOL, PUBLIC, BUILDING",True,False,...,12,NaN,NaN,26,1164687.0,1900646.0,2001,41.882984,-87.670719,"(41.882984246, -87.670719218)"

### Problem 6

##### List the average safety score for each type of school.

In [20]:
# select SAFETY_SCORE, NAME_OF_SCHOOL
#	from CHICAGO_PUBLIC_SCHOOLS;
#    can add the rest if we want to leave out null values
#	WHERE SAFETY_SCORE IS NOT NULL
#	order by SAFETY_SCORE desc;
CHICAGO_PUBLIC_SCHOOLS[['NAME_OF_SCHOOL', 'SAFETY_SCORE']]

                                        NAME_OF_SCHOOL  SAFETY_SCORE
0                    Abraham Lincoln Elementary School          99.0
1    Adam Clayton Powell Paideia Community Academy ...          54.0
2                  Adlai E Stevenson Elementary School          61.0
3                      Agustin Lara Elementary Academy          56.0
4                        Air Force Academy High School          49.0
..                                                 ...           ...
561                William T Sherman Elementary School          32.0
562                 William W Carter Elementary School          13.0
563                Wolfgang A Mozart Elementary School          41.0
564               Woodlawn Community Elementary School          70.0
565                 World Language Academy High School          51.0

[566 rows x 2 columns]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [37]:
#select distinct(COMMUNITY_AREA_NAME), PERCENT_HOUSEHOLDS_BELOW_POVERTY
#	from census_data
#	ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC
#	LIMIT 5;
c = CENSUS_DATA[['COMMUNITY_AREA_NAME', 'PERCENT_HOUSEHOLDS_BELOW_POVERTY']]
c.groupby('COMMUNITY_AREA_NAME', sort=False)['PERCENT_HOUSEHOLDS_BELOW_POVERTY'].sum().sort_values(ascending=False).head(5)

COMMUNITY_AREA_NAME
Riverdale             56.5
Fuller Park           51.2
Englewood             46.6
North Lawndale        43.1
East Garfield Park    42.4
Name: PERCENT_HOUSEHOLDS_BELOW_POVERTY, dtype: float64

### Problem 8

##### Which community area is most crime prone?

Double-click **here** for a hint

<!--
Query for the 'community area number' that is most crime prone.
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

Copyright © 2020 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork22-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>

## Change log

| Date       | Version | Changed by    | Change Description                 |
| ---------- | ------- | ------------- | ---------------------------------- |
| 2021-11-17  | 2.6  | Lakshmi  | Updated library  |
| 2021-05-19 | 2.4     | Lakshmi Holla | Updated the question   |
| 2021-04-30 | 2.3     | Malika Singla | Updated the libraries   |
| 2021-01-15 | 2.2     | Rav Ahuja | Removed problem 11 and fixed changelog |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets |
| 2020-09-05 | 2.0     | Malika Singla | Moved lab to course repo in GitLab |
| 2018-07-18 | 1.0     | Rav Ahuja | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan | Created initial version |

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>