# Data Science Tools and Ecosystem

This notebook will summarize Data Science Tools and Ecosytems.
- List popular data science languages
- list common libraries
- environments for data science 
- show how arithmetic works in R

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala 
4. SQL

Some of the commonly used libraries by Data Scientist include:
1. Pandas
2. Seaborn
3. Plotly
4. caret
5. ggplot

| Data Science Tools |
| ------------------ |
| VS Code            |
| Jupyterlab         |
| Rstudio            |
| Anaconda Navigator |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This is a simple arithmetic expression to multiply the add integers
result <- (3 * 4) + 5
result

[1] 17

In [6]:
# This will convert 200 minutes to hours by dividing by 60
result <- 200 / 60
result

[1] 3.333333

## Author
Michael Woods