In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# Reset display options to default
pd.reset_option('display.max_columns')
pd.reset_option('display.max_rows')
pd.reset_option('display.max_colwidth')

In [16]:
# # Define the path to the CSV file
# #Laptop
# csv_file_path = r"C:\Users\mrwoo\OneDrive\Desktop\SA_Interview\all_311_transformed.csv"

# #Server
# #csv_file_path = "/home/mrwoo/Documents/all_331_transformed.csv"

# # Reset display options to default
# pd.reset_option('display.max_columns')
# pd.reset_option('display.max_rows')
# pd.reset_option('display.max_colwidth')

# # Read the CSV file into a pandas DataFrame
# df = pd.read_csv(csv_file_path)

# # Display the DataFrame
# df

,Category,CASEID,OPENEDDATETIME,SLA_Date,CLOSEDDATETIME,Late (Yes/No),Dept,REASONNAME,TYPENAME,CaseStatus,SourceID,OBJECTDESC,Council District,Report Starting Date,Report Ending Date,LATITUDE,LONGITUDE
0,Traffic Signals and Signs,1014001765,11/3/2017,9/22/2021,2023-03-16,YES,Public Works,Signals,Signal Timing Modification By Engineer,Closed,Constituent Call,PATRON and POTEET JDTN FY,4,3/2/2023,3/2/2024,29.338427,-98.550563
1,Solid Waste Services,1014303843,3/7/2018,3/16/2018,2023-03-08,YES,Solid Waste Management,Waste Collection,Additional Cart Request,Closed,Constituent Call,"1819 POPLAR ST W, San Antonio, 78207",1,3/2/2023,3/2/2024,29.440466,-98.519462
2,Traffic Signals and Signs,1014504120,5/11/2018,10/31/2018,2023-03-16,YES,Public Works,Traffic Engineering Design,Traffic Signal New Request,Closed,Constituent Call,HILDEBRAND E and NEW BRNFLS N,2,3/2/2023,3/2/2024,29.465814,-98.460859
3,Traffic Signals and Signs,1014549690,5/27/2018,11/15/2018,2023-03-16,YES,Public Works,Traffic Engineering Design,Traffic Signal New Request,Closed,Constituent Call,PERRIN BEITEL and SUNSHADOW ST,10,3/2/2023,3/2/2024,29.523482,-98.410947
4,Solid Waste Services,1014569491,6/3/2018,6/11/2018,NaN,YES,Solid Waste Management,Waste Collection,Damaged Cart,Open,Constituent Call,"220 BROADWAY, San Antonio, 78205",1,3/2/2023,3/2/2024,29.428094,-98.487158
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606056,Animals,1019442050,3/1/2024,3/11/2024,NaN,NO,Animal Care Services,Field Operations,Animals(Public Nuisance),Open,Constituent Call,"319 AMBERDALE OAK, SAN ANTONIO, 78249",8,3/2/2023,3/2/2024,29.575311,-98.629121
606057,Animals,1019442051,3/1/2024,3/11/2024,NaN,NO,Animal Care Services,Field Operations,Animals(Public Nuisance),Open,Constituent Call,"11631 HIDDEN TERRACE, UBC, 78245",0,3/2/2023,3/2/2024,29.409398,-98.723522
606058,Animals,1019442052,3/1/2024,3/2/2024,2024-03-01,NO,Animal Care Services,Field Operations,Third Shift,Closed,Constituent Call,"55 CONSUELO, SAN ANTONIO, 78228",5,3/2/2023,3/2/2024,29.441727,-98.582815
606059,Animals,1019442053,3/1/2024,3/2/2024,NaN,NO,Animal Care Services,Field Operations,Third Shift,Open,Constituent Call,"7950 MEADOW STAR, SAN ANTONIO, 78227",6,3/2/2023,3/2/2024,29.420643,-98.644207
606060,Property Maintenance,1019442054,3/1/2024,5/8/2024,NaN,NO,Development Services,Code Enforcement,Overgrown Yard/Trash,Open,Code Proactive Calls,"1102 ADA ST, SAN ANTONIO, 78223",3,3/2/2023,3/2/2024,29.380866,-98.456539

# Re-Naming Columns

In [17]:
# # Convert 'Council District' to 'District' and change its type to string
# df.rename(columns={'Council District': 'District'}, inplace=True)
# df['District'] = df['District'].astype(str)

# # Convert date columns to date objects
# date_columns = ['OPENEDDATETIME', 'SLA_Date', 'CLOSEDDATETIME', 'Report Starting Date', 'Report Ending Date']
# df[date_columns] = df[date_columns].apply(pd.to_datetime)

In [18]:
# df.drop(columns='OBJECTDESC', inplace=True)

In [19]:
# column_names = {'REASONNAME' : 'Reason', 'TYPENAME' : 'Type', 'CASEID' : 'Case'}
# df.rename(columns=column_names, inplace=True)

In [11]:
df.columns

Index(['Category', 'Case', 'OPENEDDATETIME', 'SLA_Date', 'CLOSEDDATETIME',
       'Late (Yes/No)', 'Dept', 'Reason', 'Type', 'CaseStatus', 'SourceID',
       'District', 'Report Starting Date', 'Report Ending Date', 'LATITUDE',
       'LONGITUDE'],
      dtype='object')

In [25]:
# columns_change = { 'OPENEDDATETIME' : 'Opened', 'CLOSEDDATETIME' : 'Closed', 'SLA_Date' : 'SLA'}
# df.rename(columns=columns_change, inplace=True)

# Column Type Conversion

In [21]:
#Converting District column to numeric
df['District'] = pd.to_numeric(df['District'], errors='coerce')

In [23]:
# Define a mapping dictionary for numerical values to words
number_to_word = {
    0: 'Zero',
    1: 'One',
    2: 'Two',
    3: 'Three',
    4: 'Four',
    5: 'Five',
    6: 'Six',
    7: 'Seven',
    8: 'Eight',
    9: 'Nine',
    10: 'Ten'
}

# Use the map() function to replace numerical values with words
df['District'] = df['District'].map(number_to_word)

In [27]:
df.to_csv(r"C:\Users\mrwoo\OneDrive\Desktop\SA_Interview\311.csv", index=False)

# Making a new/smaller 311 dataset to be used with Cognos(Trial Period) not Embedded Version

In [4]:
df = pd.read_csv(r"C:\Users\mrwoo\OneDrive\Desktop\SA_Interview\311.csv")

In [6]:
df.columns

Index(['Category', 'Case', 'Opened', 'SLA', 'Closed', 'Late (Yes/No)', 'Dept',
       'Reason', 'Type', 'CaseStatus', 'SourceID', 'District',
       'Report Starting Date', 'Report Ending Date', 'LATITUDE', 'LONGITUDE'],
      dtype='object')

# New df to csv with just lat., lon., case, district

In [7]:
df_llcd = df[['District', 'Case', 'LATITUDE', 'LONGITUDE']]

In [11]:
df_llcd.head(4)

  District        Case   LATITUDE  LONGITUDE
0     Four  1014001765  29.338427 -98.550563
1      One  1014303843  29.440466 -98.519462
2      Two  1014504120  29.465814 -98.460859
3      Ten  1014549690  29.523482 -98.410947

In [12]:
df_llcd.to_csv(r"C:\Users\mrwoo\OneDrive\Desktop\SA_Interview\csv_llcd.csv")

# New df to csv with case, time(only years and month)

In [26]:
df_customer_service = df[['Case', 'Opened', 'District', 'Dept', 'Category', 'Reason', 'Type', 'SourceID', 'LATITUDE', 'LONGITUDE']]

In [27]:
df_customer_service.head(4)

,Case,Opened,District,Dept,Category,Reason,Type,SourceID,LATITUDE,LONGITUDE
0,1014001765,2017-11-03,Four,Public Works,Traffic Signals and Signs,Signals,Signal Timing Modification By Engineer,Constituent Call,29.338427,-98.550563
1,1014303843,2018-03-07,One,Solid Waste Management,Solid Waste Services,Waste Collection,Additional Cart Request,Constituent Call,29.440466,-98.519462
2,1014504120,2018-05-11,Two,Public Works,Traffic Signals and Signs,Traffic Engineering Design,Traffic Signal New Request,Constituent Call,29.465814,-98.460859
3,1014549690,2018-05-27,Ten,Public Works,Traffic Signals and Signs,Traffic Engineering Design,Traffic Signal New Request,Constituent Call,29.523482,-98.410947

In [34]:
# Convert 'Opened' column to DateTime object
df_customer_service['Opened']

AttributeError: 'Series' object has no attribute 'pd'